<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1><i class="fa fa-file-text-o" aria-hidden="true">&nbsp;</i>{{ title }}</h1>
    </div>
  </div>
</div>

<table class="table table-warning table-striped table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col"><i class="fa fa-hashtag" aria-hidden="true">&nbsp;</i>Id</th>
      <th scope="col"><i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Paid</th>
      <th scope="col"><i class="fa fa-usd" aria-hidden="true">&nbsp;</i>Amount</th>
      <th scope="col"><i class="fa fa-user" aria-hidden="true">&nbsp;</i>Customer</th>
      <th scope="col"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <td>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control id" [(ngModel)]="bill._id"  (change)="afterChange()>
        </div>
      </td>
      <td>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="bill.paid"  (change)="afterChange()>
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label></label>
          <input type="number" class="form-control amount" [(ngModel)]="bill.amount"  (change)="afterChange()>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control customer" [(ngModel)]="bill.customer"  (change)="afterChange()>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control created" [(ngModel)]="bill.created"  (change)="afterChange()>
        </div>
      </td>
    </tr>
  </tbody>
</table>
