<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>

<table class="table table-warning table-striped table-hover">
  <thead>
    <tr class="text-center table-primary">
      <th scope="col">Id</th>
      <th scope="col">Paid</th>
      <th scope="col">Amount</th>
      <th scope="col">Customer</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <td><input type="text" [(ngModel)]="bill._id"></td>
      <td><input type="checkbox" class="form-check-input" [(ngModel)]="bill.paid"></td>
      <td><input [(ngModel)]="bill.amount"></td>
      <td><input [(ngModel)]="bill.customer"></td>
      <td><input [(ngModel)]="bill.created"></td>
    </tr>
  </tbody>
</table>
