<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1><i class="fa fa-file-text-o" aria-hidden="true">&nbsp;</i>{{ title }}</h1>
      </div>
    </div>
  </div>
  
  <table class="table table-warning table-striped table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col"><i class="fa fa-hashtag" aria-hidden="true">&nbsp;</i>Id</th>
        <th scope="col"><i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Active</th>
        <th scope="col"><i class="fa fa-user" aria-hidden="true">&nbsp;</i>Name</th>
        <th scope="col"><i class="fa fa-building-o" aria-hidden="true">&nbsp;</i>Company</th>
        <th scope="col"><i class="fa fa-envelope" aria-hidden="true">&nbsp;</i>Email</th>
        <th scope="col"><i class="fa fa-phone" aria-hidden="true">&nbsp;</i>Phone</th>
        <th scope="col"><i class="fa fa-home" aria-hidden="true">&nbsp;</i>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control id" [(ngModel)]="employee._id" (change)="afterChange()">
          </div>
        </td>
        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="employee.isActive" (change)="afterChange()">
            </label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label></label>
            <input type="number" class="form-control form-string" [(ngModel)]="employee.name" (change)="afterChange()">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control form-string" [(ngModel)]="employee.company" (change)="afterChange()">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control form-string" [(ngModel)]="employee.email" (change)="afterChange()">
          </div>
        </td>
        <td>
            <div class="form-group">
              <label></label>
              <input type="text" class="form-control form-string" [(ngModel)]="employee.phone" (change)="afterChange()">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label></label>
              <input type="text" class="form-control form-string" [(ngModel)]="employee.address" (change)="afterChange()">
            </div>
          </td>        
      </tr>
    </tbody>
  </table>