<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<p class="name">
  My name is: {{ getName() }}!
</p>
<input [(ngModel)]="name" type="text" [disabled]="disabled">

<button (click)="setName('Dani')">Click me!</button>
</div>
<h2>Hero detail</h2>
<app-hero-detail [hero]="myHero"></app-hero-detail> -->

<div class="container">
<h1>Heroes</h1>

<div class="row">
   <div class="col-3">
     {{ heroes[0].name}}
     <button class="btn btn-info btn-sm" (click)="selectHero(heroes[0])">select</button>
   </div>
   <div class="col-3">
     {{ heroes[1].name}}
     <button class="btn btn-info btn-sm" (click)="selectHero(heroes[1])">select</button>
    </div>
   <div class="col-3">
     {{ heroes[2].name}}
     <button class="btn btn-info btn-sm" (click)="selectHero(heroes[2])">select</button>
    </div>
    <div class="col-3">
        {{ heroes[3].name}}
        <button class="btn btn-info btn-sm" (click)="selectHero(heroes[3])">select</button>
       </div>
 </div> 
 <br>
 <app-hero-detail [hero]="selectedHero" (onChange)="heroChanged($event)"></app-hero-detail>
</div>

